.top-banner-image-scroll
{
  width: 220px;
  height: 125px;
  background: url('iLSfkji.png') center / cover
}

.top-banner-image-scroll .mdl-layout__header
{
  color: 03A9F4
}

.home-panel.mdl-card
{
  width: 420px;
  height: 420px;
  background: url('iLSfkji.png') center / cover
}

.home-panel > .mdl-card__actions
{
  padding: 5px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2)
}

.profile-panel.mdl-card
{
  width: 420px;
  height: 420px;
  background: url('iLSfkji.png') center / cover
}

.profile-panel > .mdl-card__actions
{
  padding: 5px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2)
}

.projs-panel.mdl-card
{
  width: 420px;
  height: 420px;
  background: url('iLSfkji.png') center / cover
}

.projs-panel > .mdl-card__actions
{
  padding: 5px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2)
}

.art-portfolio-panel.mdl-card
{
  width: 420px;
  height: 420px;
  background: url('iLSfkji.png') center / cover
}

.art-portfolio-panel > .mdl-card__actions
{
  padding: 5px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2)
}
