.home-panel.mdl-card
{
  width: 420px;
  height: 420px;
  background: url('iLSfkji.png') center / cover
}

.home-panel > .mdl-card__media
{
  width: 200px;
  height: 200px;
}

.home-panel > .mdl-card__actions
{
  padding: 5px;
  height: 50px;
